.model-title
	{
		font-family:Myriad Pro;
		font-size:30px;	
	}

.test-size
	{
		font-family:Myriad Pro;
		font-size:15px;
		padding-top:5%;
	}


.customer-font
   {
		font-family:Myriad Pro;
		font-size:30px;	
   }
   
 .customer-field
 	{
 		font-family:Myriad Pro;
		font-size:15px;
 	}

 
 
 .company-font
 	{
 
 		font-family:Myriad Pro;
 		font-size:20px;	
 	}
 	
